<!DOCTYPE html>
<!-- saved from url=(0052)file:///C:/Users/hanna/Desktop/profile-professor.ejs -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link rel="stylesheet" href="./profile-professor1_files/bootstrap.min.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="./profile-professor1_files/font-awesome.min.css">
    <link rel="shortcut icon" href="file:///C:/Users/hanna/Desktop/cc-favicon.png">
<style>
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color:rgb(202,181,118);
}

.user {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("concordia2.jpg");
  margin-left:50px;
  margin-top:8px;
}

#topbar
        {
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    height:150px;
    background-color:rgb(143,37,57);
  }
          

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 0;
    background-color: rgb(143,37,57);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgb(202,181,118);
}

.verticalline {
    height: 150px;
    width: 2px;
    position: fixed;
    z-index: 3000;
    top: 0px;
    left: 250px;
    background-color:rgb(202,181,118);
}

.horizontalline {
    height: 2px;
    width: 250px;
    position: fixed;
    z-index: 3000;
    top: 150px;
    left:0;
    background-color:rgb(202,181,118);
}

#main {

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.appt{
  z-index:100;
  position:relative;
  top:87px;
  left:245px;
  background-color:white;
  height:40px;
  width:40.5%;

  text-align:center;
}

.appt a {
  color: black;
  font-size:20pt;
}

.surv{
  z-index:10000;
  position:absolute;
  top:0;
  left:101%;
  background-color:white;
  height:40px;
  width:100%;
  text-align:center;
}

.surv a {
  color: black;
  font-size:20pt;
}
.cont{
  z-index:100;
  position:relative;
  top:70px;
  left:245px;
  background-color:white;
  width:40.5%;
  height:700px;
  font-size:16pt;
}

.cont1{
  font-size:16pt;
  z-index:10000000;
  position:absolute;
  left:101%;
  top:0;
  background-color:white;
  width:100%;
  height:100%;
}

.sub {
  font-size: 20pt;
  text-align: center;
  color:black;
}

.info{
      z-index:5000;
      position:fixed;
      top:5px;
      left:260px;
      color:white;
      margin: 0 auto;

  }
.sidebar{
      width:130px;
      height:40px;
      background-color:rgb(143,37,57);
}
button{ 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

</style>
</head>
<body>



<div id="mySidenav" class="sidenav">
  <a href="file:///C:/Users/hanna/Desktop/profile-professor.ejs#">Place Holder 1</a>
  <a href="file:///C:/Users/hanna/Desktop/profile-professor.ejs#">Place Holder 2</a>
  <a href="myProfile.ejs">My Profile</a>
  <a href="file:///C:/Users/hanna/Desktop/profile-professor.ejs#">Place Holder 4</a>
</div>

<div id="main">

<div id="topbar">
    <div class="user">
  </div>

  <div class="info">
  <p>Dr.Aiman Hanna <br>
     Professor of Computer Science<br> 
     At Concordia University <br>
  </p>
  </div>
  <br>
</div>
<br>

<div class="sidebar">
</div>

<div class="verticalline">
</div>
<div class="appt">
<a href="file:///C:/Users/hanna/Desktop/profile-professor.ejs#">Appointments</a>

<div class="surv">
<a href="file:///C:/Users/hanna/Desktop/profile-professor.ejs#">Surveys</a>
</div>
</div>
<div class="horizontalline">
</div>
<div class="cont">
  <ul>
    <li>Moiz Tues Mar 7 1:30 - 2:30</li>
    <li>Dr. Lynch Wed Mar 8 1:30 - 2:30</li>
    <li>Dr. Trueman Wed Mar 15 1:30 - 2:30</li>
    <li>Dr. AlKhalili Wed Mar 22 1:30 - 2:30</li>
    <li>Dr. Witte Wed Mar 30 1:30 - 2:30</li>
  </ul>
<div class="cont1">
 <ul>
    <li>ELEC 353: Feedback for Midterm</li>
    <li>SOEN 341: Feedback for Tutors</li>
    <li>COEN 352: Quality of Course Material</li>
    <li>COEN 346: Feedback for Professor</li>
    <li>ENGR 290: Level of Difficulty</li>
  </ul>
  <button type="button">Add Survey</button>
</div>
</div>
</div></body></html>
