<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
<style>
body {
    font-family: "Lato", sans-serif;
    font: 16px Helvetica;
    color: white;
    transition: background-color .5s;
    background-color:rgb(202,181,118);
}


input[type=text]{
  width: 95%;
  height: 25%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-image: url('search-icon.png');
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.user {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("concordia2.jpg");
  margin-left:50px;
  margin-top:8px;
}

#topbar {
    z-index:1000;
    width:100%;
    height:150px;
    background-color: rgb(143,37,57);
  }

  #student-info-header {
    text-align: center;
  }
          

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 0;
    background-color: rgb(143,37,57);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgb(202,181,118);
}

.verticalline {
    height: 150px;
    width: 5px;
    position: fixed;
    z-index: 3000;
    top: 0px;
    left: 250px;
    background-color: rgb(202,181,118);
}

.horizontalline {
    height: 5px;
    width: 250px;
    position: fixed;
    z-index: 3000;
    top: 150px;
    left:0;
    background-color: rgb(202,181,118);
}

#main {
  background-color:rgb(202,181,118);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.search{
  z-index:100;
  position:fixed;
  left:255px;
  top:155px;
  background-color: rgb(194,50,77);
  height:150px;
  width:1105px;
  text-align: center;
}

#appt{
  left: 18.7%;
}

#surv{
  left: 59.5%;
}

.student-info-box{
  z-index:100;
  border-style: solid;
  border-color: rgb(194,50,77);
  border-width: 5px;
  position:fixed;
  background-color: white;
  height:50%;
  width:40%;
  top: 48%;
  color: black;
}

.student-info-top-bar {
  height: 20%;
  overflow: hidden;
  border-color: rgb(194,50,77);
  background-color: rgb(194,50,77);
  text-align: center;
  margin-bottom: 15px;
}

.student-info-top-bar h1 {
  color: white;
  }

.student-info-top-bar a {
  color: white;
}

.info{
      float:right;
      color:white;
      margin: 0 auto;
      padding:20px;
  }

.sidebar{
      width:130px;
      height:40px;
      background-color: rgb(143,37,57);
}

</style>
</head>
<body>



<div id="mySidenav" class="sidenav">
  <a href="#">Appointments</a>
  <a href="#">Surveys</a>
  <a href="myProfile.ejs">My Profile</a>
  <a href="#">Place holder 2</a>
</div>

<div id="main">

<div id="topbar">
    <div class="user">
  </div>

  <div class="info">
    <ul>
      <li>First Name</li>
      <li>Last Name</li>
    </ul>
  </div>
</div>


<div class="sidebar">
</div>

<div class="verticalline">
</div>

<div class="search">
  <h1>Search for Professors</h1>
  <input type="text" name="search" placeholder="Search...">
</div>

<div class="student-info-box" id="appt">
  <div class="student-info-top-bar">
    <h1 id="student-info-header"><a href="#">Appointments</a></h1>
  </div>
  
  <ul>
    <li>Moiz Tues Mar 7 1:30 - 2:30</li>
    <li>Dr. Lynch Wed Mar 8 1:30 - 2:30</li>
    <li>Dr. Trueman Wed Mar 15 1:30 - 2:30</li>
    <li>Dr. AlKhalili Wed Mar 22 1:30 - 2:30</li>
    <li>Dr. Witte Wed Mar 30 1:30 - 2:30</li>
  </ul>
  <button>Add Appointment</button>
</div>

<div class="student-info-box" id="surv">
  <div class="student-info-top-bar">
    <h1 id="student-info-header"><a href="#">Surveys</a></h1>
  </div>

  <ul>
    <li>ELEC 353: Feedback for Midterm</li>
    <li>SOEN 341: Feedback for Tutors</li>
    <li>COEN 352: Quality of Course Material</li>
    <li>COEN 346: Feedback for Professor</li>
    <li>ENGR 290: Level of Difficulty</li>
  </ul>
</div>

<div class="horizontalline">
</div>

</body>
</html> 
