<!-- views/chat.ejs -->
<!doctype html>
<html>

<head>
    <title>Connect Concordia Chat</title>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- load fontawesome -->

   
    <style>
        
		body{
                background-color:#808080;
                background-attachment:fixed;
                background-repeat: no-repeat;
                background-size: cover;
				font-family: "Lato", sans-serif;
				
        }
        
        .container {
            float: left;
            position: fixed;
        }
        
        
        #top_bar {
            width: 100%;
            height: 150px;
            background-color: rgb(143, 37, 57);
            height: 150px;
            position: fixed;
        }
        
        #topbar a {
            text-align: right;
            padding: 9px;
            display: inline;
        }
    
        h1 {
            text-align: center;
            font-family: Helvetica, sans-serif;
            color: rgb(255, 255, 255);
            padding: 2px;
        }
        
        label {
            color: rgb(255, 255, 255);
            font-size: 120%;
            font-weight: bold;
        }
        
        input[type=text],
        input[type=password],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
       
        p {
            margin: 0;
            padding: 0;
            color: rgb(255, 255, 255);
        }
        
        a {
            color: rgb(255, 255, 255);
        }
        
        .small_text {
            font-size: 17px;
        }
        
        #form_div {
            margin: auto;
            width: 100%;
            border-radius: 5px;
            padding: 10px;
        }
        
        #other_options {
            text-align: center;
        }
        
        .button {
            background-color: rgb(143, 37, 57);
            border: none;
            color: white;
            padding: 30px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
        
        .button:hover {
            color: black;
            text-decoration: none;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }
        
        #messages {
            position:relative;
            left:22%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 80%;
            bottom: 0;
        }
        
        #messages li {
            padding: 5px 10px;
            background: #eee;
        }
        
        #messages li:nth-child(odd) {
            background: rgb(143, 37, 57);
        }
        
        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 41px;
            width: 85%;
        }
        
        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
            border-radius: 10px;
        }
        
        form button {
            width: 9%;
            background-color: rgb(143, 37, 57);
            border: none;
            padding: 10px;
            font-weight: bold;
            border-radius: 10px;
        }
        
        form button:hover {
            background-color: #F1F1F1;
            color: black;
            font-weight: bold;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }
        
        /*footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
            color: grey;
        }*/
        
        #info {
            background: rgba(0, 0, 0, 0.5);
            height: 1000px;
        }
        
        .tab {
            position: fixed;
            border: none;
            background-color: rgb(143, 37, 57);
            width: 15%;
            height: 100%;
            top: 0;
            right: 0;
        }
        /* Style the buttons inside the tab */
        
        .tablinks {
            position: relative;
            display: block;
            background-color: inherit;
            color: white;
            font-weight: bold;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
        }
        /* Change background color of buttons on hover */
        
        .tablinks:hover {
            background-color: #F1F1F1;
            color: black;
            text-decoration: none;
        }
        
        
        
        #logout:hover {
            color: #e6ac00;
            text-decoration: none;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }
        
        #title {
            position: fixed;
            background-color: #5F5F5F;
            width: 85%;
            left: 0;
            top: -1%;
            z-index: 0px;
            color: white;
        }
        
        #login-screen,
        #main-chat-screen {
            padding-top: 10px;
        }
        
        .main {
            padding-top: 10px;
            text-align: left;
        }
        
        #conversation {
            font-size: 18px;
            margin: 0px;
            height: 300px;
            overflow: scroll;
        }
        
        .final {
            color: #000;
        }
        
        .interim {
            color: #f00;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font: 13px Helvetica, Arial;
        }
        
        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }
        
        form #button {
            color: #FFF;
            background: #2D9F0B;
            border: none;
            padding: 10px;
            width: 9%;
        }
        
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        #messages li {
            padding: 5px 10px;
        }
        
        #messages li:nth-child(odd) {
            background: #eee;
        }
        
        #notifyUser {
            position: fixed;
            bottom: 42px;
            width: 100%;
        }
        
        #logo {
            z-index: 1000;
            width: 480px;
            height: 100px;
        }
        #topbar {
            width: 100%;
            height: 100px;
            background-color: rgb(143,37,57);
            z-index:1000;
        }
        
        .nav-side-menu{
            height:100%;
        }
        
        .title{
            width:100%;
            text-align:center;
            display:inline-block;
            /*background:rgba(143,37,57,0.8);*/
            background:rgba(0,0,0,0.5);
           /* margin-left:100px;*/
        }
        
        h1{
            font-size: 30px;
            color:rgb(202,181,118);
        }
        
        
        .box{
				width: 1500px;
                height:600px;
				padding: 50px;
				margin-top: 0px;
				margin-bottom: 50px;
				/*background:rgba(143,37,57,0.8);*/
               /* overflow-y: scroll;*/
            
            /* messages at bottom */
          /*  overflow:   auto;
        position:   relative;
        width:      100%;
        height:     400px;*/
            

        }
        
        #messages{
            background: inherit;
            max-width: 500px;
            
            /* messages at bottom */
        /*position:   absolute;
        bottom:     0;
        max-height: 500px;*/
            
           
        }
        #messages li{
           /*font-size: 0.8rem;*/
            margin: 0 0 0.2rem 0;
            color: #777;
            padding: 20px;
            border-radius: 2px;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
        }
        
        #messages li:before{
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -40px;
            right: auto;
            top: 10px;
            bottom: auto;
            border: 20px solid;
            color:#EEEEEE;
            border-color: #666 #666 transparent transparent;
        }
        
        #messages li:after{
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -24px;
            right: auto;
            top: 10px;
            bottom: auto;
            border: 12px solid;
            color:#EEEEEE;
            border-color: #EEEEEE #EEEEEE transparent transparent;
        }
        
        
        
        /* T Y P E */

        #m{
            position: fixed;
            bottom: 0px;
            left: 300px;
            right: 0px;
            width: 100%;
            height: 50px;
            z-index: 99;
            background: #fafafa;
            border: none;
            outline: none;
            padding-left: 55px;
            padding-right: 55px;
            color: #666;
            font-weight: 400;
        }
        

    </style>
</head>

<body>
    
    <!-- TOP BAR -->
<div id="topbar">
    <a href="/main"><img src="logo2.png" id="logo" alt="Logo"></a>
    <div id="user">

    <div class="dropdown">

      <button class="btn btn-primary dropdown-toggle" id="user1" type="button" data-toggle="dropdown"><span class="fa fa-user"></span>

          <script>
              
              var firstname = <%- JSON.stringify(firstname)%>;
              var lastname = <%- JSON.stringify(lastname)%>;
              document.write("Signed in as "+firstname+" "+lastname);
          </script>
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
</div>

    <script>
        $('#user1').onclick(function() {
    $('#user1').css({
        'background-color':'rgb(143,37,57)',
        'border':'none',
    });
});
    </script>   
    
    
<!-- SIDEMENU -->
<div class="nav-side-menu">
    <div class="brand">Navigation</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/main">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a><i class="fa fa-gift fa-lg"></i> General Information <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="/account-professor">Professor Appointments</a></li>
                    <li><a href="/chat">Chat with Professor/Student</a></li>
                </ul>
				
				<li>
                  <a href="/forum">
                  <i class="fa fa-users fa-lg"></i> Forum
                  </a>
                </li>
                
                <li>
                  <a href="/surveys-students">
                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
                  </a>
                </li>

                 <li>
                  <a href="/myProfile">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>
				  
				  <li>
                  <a href="/logout">
                  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
                  </a>
                  </li>
 
            </ul>
     </div>
</div>

    
	<!-- Title -->
	<div class="title">
		<h1>[Name of teacher]</h1>
	</div>



    <!--- MESSAGES ---->
    
    <div class="box">
        <ul id="messages" class="talk-bubble tri-right left-in"></ul>
        <span id="notifyUser"></span>
    </div>
    
    <div id="typebox">   
        <form id="form" action="" onsubmit="return submitfunction();">
            <input type="hidden" id="user" value="" />
            <input id="m" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." />
            <!--<input type="submit" id="button" value="Send" />-->
        </form>
     </div>  

    <!-- FOOTER --->
    <!--    <footer>&#169; 2017 SOEN 341</footer>-->


    <!--- SCRIPTS ----->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        var socket = io();

        function submitfunction() {
            var from = $('#user').val();
            var message = $('#m').val();
            if (message != '') {
                socket.emit('chatMessage', from, message);
            }
            $('#m').val('').focus();
            return false;
        }

        function notifyTyping() {
            var user = $('#user').val();
            socket.emit('notifyUser', user);
        }

        socket.on('chatMessage', function(from, msg) {
            var me = $('#user').val();
            var color = (from == me) ? '#D8BD4B' : '#8F2539';
            var from = (from == me) ? 'Me' : from;
            $('#messages').append('<li><b style="color:' + color + '">' + from + '</b>: ' + msg + '</li>');
        });

        socket.on('notifyUser', function(user) {
            var me = $('#user').val();
            if (user != me) {
                $('#notifyUser').text(user + ' is typing ...');
            }
            setTimeout(function() {
                $('#notifyUser').text('');
            }, 10000);;
        });

        $(document).ready(function() {
            var name = id();
            $('#user').val(name);
            socket.emit('chatMessage', 'System', '<b>' + name + '</b> has joined the discussion');
        });

        function id() {
            var firstname = <%- JSON.stringify(firstname)%>;
            var lastname = <%- JSON.stringify(lastname)%>;
            return firstname + " " + lastname;

        }

    </script>

</body>

</html>
