<!DOCTYPE html>
<html>
<head>
	
	<title>Connect Concordia</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
	
	<style>
		#topbar
            {
                width:100%;
                height:150px;
				background-color: rgb(143,37,57);
            }
        #logo
            {
                z-index: 1000;
                width:700px;
                height:150px;
            }
			
		.title
			{
				width:100%;
				text-align:center;
				display:inline-block;
				background:rgba(143,37,57,0.8);
			}
			
		.questions
			{
				width: 600px;
				padding: 50px;
				margin-top: 50px;
				margin-bottom: 50px;
				margin-left: auto;
				margin-right: auto;
				background:rgba(143,37,57,0.8);
			}
		
		h1
			{
				font-size: 50px;
				color:rgb(202,181,118);
			}
			
		
		searchbox
		{
			display: inline-block;
			font-size: 50px;
			padding-top: 50px; 
		}
		
		ul
			{
				font-size: 22px;
				
			}
			
		
		body
			{
                background-image: url("forum.jpg");
                background-attachment:fixed;
                background-repeat: no-repeat;
                background-size: cover;
				font-family: "Lato", sans-serif;
				color: white;
				
            }
	</style>
	
</head>
<body>

	<div id="topbar">
		<img src="logo2.png" id="logo" alt="Logo">
	</div>
	
	<div class="title">
		<h1>Results</h1>
        <script>
            
              var search = <%- JSON.stringify(tag)%>;
              var results = <%- JSON.stringify(path)%>;
              
              document.write("Results for  "+search+" ");
              for(var i=0;i<results.length;i++)
                {
                    document.write("<br>");
                    document.write(results[i].posted);
    
                }
            
          </script>
       
	</div>
	
	
	
	
</body>

</html>
