<!DOCTYPE html>
<html>
<head>
	
	<title>Connect Concordia</title>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- load fontawesome -->
    <!-- load fontawesome -->
	
	<style>
    body{
			/*background-color:#666666;*/
			background-color:#808080;
			color: white !important;
    }
      
    #topbar{
		width:100%;
		height:100px;
		background-color:rgb(143,37,57);
	}
    .container{
        margin-left:400px;
    }
            
	#logo{
		z-index: 1000;
		width:480px;
		height:100px;
	}
			
	.title{
			width:100%;
			/*text-align:center;*/
			display:inline-block;
			/*background:rgba(143,37,57,0.8);*/
			background:rgba(0,0,0,0.5);
        text-align: center;
	}
	
	h1{
				font-size: 50px;
				color:rgb(202,181,118);
    }
		
	h2{
		font-size: 30px;
		color:rgb(202,181,118);
	}
	
	#sideinfo{
		color:black;
		font-style: italic;
	}
	  
    #user{
        color:white;
        float:right;
        position:relative;
        font: 16px Helvetica, Arial;
    }
        
   /* .col-sm-3{
        background-color:rgba(143,37,57,0.8);
        padding:20px;
        width:300px;
        margin-right:60px;
        border-radius: 10px;
    }*/

	
    .label{
			font-size:12px;
    }
		
    .label-danger{
			background-color:rgb(202,181,118);
    }
    .label-primary{
			background-color:#24292E;
    }
		
    .btn-success{
			background-color:rgb(143,37,57);
			border-color:rgb(143,37,57);
    }
	
	.post{
		position:relative;
		margin-bottom:50px;
		background-color:rgb(143,37,57);
		border-radius:5px;
		padding:20px;
	}
	
	a{
		color:white !important;
	}
	
	a:hover{
		color:rgb(143,37,57) !important;
	}
	
	.red{
		background-color:rgb(143,37,57);
		border-radius:5px;
		
	}
	#current:hover{
		color:rgb(143,37,57) !important;
	}
	
	#current{
		color:white !important;
	}
	
	h4{
		color:white !important;
	}
	
	small{
		color:white !important;
	}
        
    .topic{
         color:white;   
    }    
        
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }    
	</style>
	
</head>
<body>

	<!-- Topbar --> 
	<div id="topbar">
		<img src="logo2.png" id="logo" alt="Logo">
	</div>
	<div class="title">  
		<h2>Search Results for : <span class="topic">
            <script>
                 var tag = <%- JSON.stringify(tag)%>;
                 document.write(tag);
            </script></span></h2> 
	</div>
    
    
    
<!-- SIDEMENU -->
<div class="nav-side-menu">
    <div class="brand">Navigation</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/main">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a><i class="fa fa-gift fa-lg"></i> General Information <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="/account-professor">Professor Appointments</a></li>
                    <li><a href="/chat">Chat with Professor/Student</a></li>
                </ul>
				
				<li>
                  <a href="/forum">
                  <i class="fa fa-users fa-lg"></i> Forum
                  </a>
                </li>
                
                <li>
                  <a href="/surveys">
                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
                  </a>
                </li>

								<li>
								 <a href="/editProfile">
								 <i class="fa fa-user fa-lg"></i> My Profile
								 </a>
								 </li>

								<li>
								 <a href="#">
								 <i class="fa fa-user fa-lg"></i> Search Users
								 </a>
								 </li>

				  <li>
                  <a href="/logout">
                  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
                  </a>
                  </li>
 
            </ul>
     </div>
</div>
      <br><br>
<div class="container">	    
    <!-- sidebar --> 
    <div class="container-fluid">
	  <div class="row content">
		<div class="col-sm-3 sidenav">
            <form action="/forum-submitted">
		  <h3>Want to find information on a certain topic?</h3>
			See what your professors posted on the subject!
			<br><br>
		  <input type="text" name="search" class="form-control" placeholder="Search for a post..." size="30" name="searchplacer">
            <div id="sideinfo">Use # + the subject you're looking for.
            </div>
            <br>
		  <input type="submit" name = "tags" class="btn btn-default" value="Search">
            <br>

          <hr>
        </form>
         <form action="/forum-submitted-3">
        <input type="submit" name = "tags" class="btn btn-default" value="Display All">
        </form>
        <br>
		  
		</div>

    <!-- Top black bar --> 

      <h4><small>SEARCH RESULTS FOR:<span id="topic2">
			<script>
			var search = <%- JSON.stringify(tag)%>;
			document.write(search);
			</script>
		</span></small></h4>
      <hr>
         
	        
      <div class="col-sm-9">      
          <div id="post-container">
          <!--<div class="post">
          <h2>I Love Food</h2>
          <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
          <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
          <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
            <hr>-->
          </div> 
    </div>
        </div>
    </div>
    </div>


        
   <!-- POST RESULTS -->
    <script>
        var html = '';

        // first we generating our html in the loop
        var search = <%- JSON.stringify(tag)%>;
        var results = <%- JSON.stringify(path)%>;
        
        
        for(var i=0 ; i< results.length ; i++) {
            html += "<div class='post'><h2>" + results[i].title + "</h2><h5><span class='glyphicon glyphicon-time'></span> Posted by <a href='/profiles/" + results[i].username + "'>" +  results[i].username + "</a> "+results[i].date+ " </h5><h5><span class='label label-danger'>" + results[i].tags + "</span></h5><p>" + results[i].posted + "</p></div><hr>"
        }
        // next we're inserting html into block with ID accordion
        document.getElementById("post-container").innerHTML = html;
    </script> 
	
	<footer>&#169; 2017 SOEN 341</footer>
	
</body>

</html>

