<!DOCTYPE html>
<html>
<head>
	
	<title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- load fontawesome -->
	
	<style>
			
		.questions
			{
				width: 600px;
				padding: 50px;
				margin-top: 50px;
				margin-bottom: 50px;
				margin-left: auto;
				margin-right: auto;
				background:rgba(143,37,57,0.8);
			}
		
		h1
			{
				font-size: 50px;
				color:rgb(202,181,118);
			}
			
		a{
			text-decoration:none;
			color:#e6ac00;
		}
		
		a:hover{
			color:#24292E;
			text-decoration:none;
		}
		
		searchbox
		{
			display: inline-block;
			font-size: 50px;
			padding-top: 50px; 
		}	
		
		body
			{
                background-image: url("http://www.concordia.ca/alumni-friends/giving-to-concordia/_jcr_content/content-main/image_556643419.img.jpg/1469125227741.jpg");
                background-color:#808080;
                background-attachment:fixed;
                background-repeat: no-repeat;
                background-size: cover;
				font-family: "Lato", sans-serif;
				color: white;
				
        }
		
		#sideinfo{
            color:rgb(202,181,118);
            font-style: italic;
        }
        

	</style>
	
</head>

<body>

	<!-- TOP BAR -->
	<div id="topbar">
    <img src="logo2.png" id="logo" alt="Logo">
    <div id="user">
	</div>
	</div>
	
	<div id="wrapper">
		<div id="sidebar">
		<!-- SIDEMENU -->
			<div class="nav-side-menu">
			<div class="brand">Navigation</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  
				<div class="menu-list">
		  
					<ul id="menu-content" class="menu-content collapse out">
						<li>
						  <a href="/main">
						  <i class="fa fa-dashboard fa-lg"></i> Dashboard
						  </a>
						</li>

						<li>
						  <a href="/chat">
						  <i class="fa fa-users fa-lg"></i> Chat with Professor/Student
						  </a>
						</li>
						
						<li>
						  <a href="/forum">
						  <i class="fa fa-users fa-lg"></i> Forum
						  </a>
						</li>
						
						<li>
		                  <a href="/surveys">
		                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
		                  </a>
		                </li>

						<li>
							<a href="/editProfile">
							<i class="fa fa-user fa-lg"></i> My Profile
							</a>
						</li>
						  
						<li>
						  <a href="/logout">
						  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
						  </a>
						</li>
		 
					</ul>
				</div>
			</div>
		</div>
		
		<div id="main">
			<div class="title">
				<h1>Forum</h1>
			</div>
			<div class="questions">
				<h2>Want to find information on a certain topic?</h2>
				<h4>See what your professors posted on the subject!</h4>
				<br>
				<form action="/forum-submitted">
				<input type="text" name="search" class="form-control" placeholder="Search for a post..." size="30" name="searchplacer">
				<div id="sideinfo">
					- Use # + the subject you're looking for.<br>
					- Separate each tag by a space<br>
					- Enter a maximum of 10 search tags!
				</div>
				<br>
				<input type="submit" name = "tags" class="btn btn-default" value="Search">
				</form>
					<form action="/forum-submitted-3">
					<input type="submit" name = "tags" class="btn btn-default" value="Display All">
				</form>
				<br>
			</div>
		</div>
	</div>
	

</body>

</html>

