<!DOCTYPE html>
<html>

<head>
    <title>Connect Concordia</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
	
		
        body {
            background-color: #F1F1F1;
            font: 16px Helvetica, Arial;
		    background-attachment:fixed;
	        background-repeat: no-repeat;
            background:url('http://fsa-arch.qc.ca/workspace/uploads/realisations/slideshows/gm3-1385583150.jpg');
	        background-size: cover;
            background-color:#666666;
        }


		h1{
			font-size: 50px;
			color:rgb(202,181,118);
		}
    
    .footer {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
      color:grey;
    }
		
		.col-sm-6{
			background:rgba(143,37,57,0.8);
			width: 500px;
			margin-left: 30%;
			margin-top: 50px;
			padding:0 40px 0 40px;
			border:1px;
			color:white;
			font-size: 25px;
			
		}
	

    </style>
</head>

<body>

    <!-- TOP BAR -->
	<div id="topbar">
		<img src="logo2.png" id="logo" alt="Logo">
		<div id="user">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" id="user1" type="button" data-toggle="dropdown"><span class="fa fa-user"></span>
				<script>
				  var firstname = <%- JSON.stringify(firstname)%>;
				  var lastname = <%- JSON.stringify(lastname)%>;
				  document.write("Signed in as "+firstname+" "+lastname);
				</script>
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>


    <script>
        $('#user1').onclick(function() {
			$('#user1').css({
			'background-color':'rgb(143,37,57)',
			'border':'none',
			});
		});
    </script>
    
	<div id="wrapper">
		<div id="sidebar">
		<!-- SIDEMENU -->
			<div class="nav-side-menu">
				<div class="brand">Navigation</div>
				<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			  
					<div class="menu-list">
			  
						<ul id="menu-content" class="menu-content collapse out">
							<li>
							  <a href="/main">
							  <i class="fa fa-dashboard fa-lg"></i> Dashboard
							  </a>
							</li>

							<li  data-toggle="collapse" data-target="#products" class="collapsed active">
							  <a><i class="fa fa-gift fa-lg"></i> General Information <span class="arrow"></span></a>
							</li>
							<ul class="sub-menu collapse" id="products">
								<li class="active"><a href="/account-professor">Professor Appointments</a></li>
								<li><a href="/chat">Chat with Professor/Student</a></li>
							</ul>
							
							<li>
							  <a href="/forum">
							  <i class="fa fa-users fa-lg"></i> Forum
							  </a>
							</li>
							
							<li>
			                  <a href="/surveys">
			                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
			                  </a>
			                </li>

							 <li>
								<a href="/editProfile">
								<i class="fa fa-user fa-lg"></i> My Profile
								</a>
							</li>
 
							<li>
							  <a href="/logout">
							  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
							  </a>
							</li>
			 
						</ul>
				 </div>
			</div>
		</div>
		<div id="main">
			<div class="title">
				<h1>Welcome to Connect Concordia!</h1>
			</div>
			<div class="col-sm-6">
					<!--<h1> <b>Welcome to Connect Concordia!</b></h1>-->

					<br/>
					 <ul>
						<li>An appointment scheduler.</li><br/>
						<li>An instant messaging system between students and teachers.</li><br/>
						<li>A feature that allows professors to request feedback from students using surveys.</li><br/>
						<li>A forum section, where professors can post public questions using keywords denoted with hash tags.</li>
						</ul>
					<br>
			</div>
		</div>
	</div>

	
	<div class="footer">&#169; 2017 SOEN 341</div>



</body>

</html>
