<!doctype html>
<html>

<head>
    <title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <style>
        
        body {
			background-image: url("background-students.jpg");
			background-attachment:fixed;
			background-repeat: no-repeat;
			background-size: cover;
            background-color: rgb(143,37,57);
            font: 16px Helvetica, Arial;
        }
        

		.content{
			min-height:750px;
			height:100%;
			margin:0;
			padding:0;
		}
		.info{
			width:70%;
			height:100%;
			margin: 0 auto;
			padding:80px;
			font-size:22px;
			text-align: justify;
			color:white;
			background:rgba(0,0,0,0.5);
		}

		p {
			margin: 0;
			padding: 0;
			color: white;
		}
		
    </style>
</head>

<body>

	<div id="topbar"><img src="logo2.png" id="logo" alt="Logo"></div>

	<div class="content">
		<div class="info">
	
<!-- show any messages that come back with authentication -->
     <form>
     <%= surveyMakerName %> currently has no survey prepared.
    </form>

			<hr>

			<p>
				Return <a href="/main">Home</a>
			</p>
			
		</div>
	</div>


</body>

</html>
