<html>
<head>
	<title>Profile</title>
</head>
<body>


<h1>STUDENT</h1>
<%= userInfo.userName %><br/>
<%= userInfo.firstName %><br/>
<%= userInfo.lastName %><br/>
<%= userInfo.email %><br/>


</body>
</html>
