<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Connect Concordia</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        form {
            padding: 3px;
            width: 100%;
            font-size:20px;
        }
        
        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }
        
        
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        #messages li {
            padding: 5px 10px;
        }
        
        #messages li:nth-child(odd) {
            background: #eee;
        }
        
        body {
            background-color: rgb(143,37,57);
            font: 16px Helvetica, Arial;
        }
        
        nav {
            text-align: right;
            padding: 20px;
        }
        
        nav ul li {
            display: inline;
        }
        
        nav ul li a:link,
        nav ul li a:visited {
            color: #555;
            text-decoration: none;
            padding: 9px;
        }
        
        nav ul li a:hover {
            text-decoration: underline;
        }
	
	a{
		text-decoration:none;
		color:gold;
	 }
	 a:hover{
		text-decoration:none;
		color:rgb(143,37,57);
	 }
        
        footer {
            background: #eee;
            position: fixed;
            bottom: 0;
            width: 100%;
            border: solid 1px #ddd;
            font-family: Arial, sans-serif;
        }
        
        footer ul {
            padding: 13px;
        }
        
        footer ul li {
            display: inline;
        }
        
        footer ul li a:link,
        footer ul li a:visited {
            color: #555;
            text-decoration: none;
            padding: 9px;
        }
        
        footer ul li a:hover {
            text-decoration: underline;
        }
        
        footer ul.right-footer {
            float: right;
        }
        
        footer ul.left-footer {
            float: left;
        }
	#topbar
        {
		width:100%;
		height:150px;
		background-color:rgb(143,37,57);
	}
            
	#logo
	{
		z-index: 1000;
		width:700px;
		height:150px;
	}
	.content{
	    min-height:750px;
        height:100%;
        background-image: url("concordia2.jpg");
	    margin:0;
	    padding:0;
	    background-attachment:fixed;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.info{
	    width:70%;
		height:100%;
        margin: 0 auto;
	    padding:150px;
	    font-size:22px;
	    text-align: justify;
	    color:white;
		background:rgba(0,0,0,0.5);
	}
	h1{
		font-size:36px !important ;
	}
	.footer {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	  background-color: #efefef;
	  text-align: center;
      color:grey;
	}
	p {
        margin: 0;
        padding: 0;
        color: white;
    	}
	.button {
	    background-color: rgb(143,37,57); 
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	}
	.button:hover {
	    color: black;
	    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
   	transition-duration: 0.4s;
	}
        
	select {
	  width: 150px;
	  font-size: 16px;
	  border: 1px solid #111;
	  height: 34px;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  text-align-last:center;
	  color:#000000;
	}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        text-indent: 5px; 
        background:none\9;
    } 
}


    </style>
</head>

<body>

<div id="topbar"><img src="logo2.png" id="logo" alt="Logo"></div>

<div class="content">
		<div class="info">
	<h1><span class="fa fa-sign-in"></span> Sign up for free</h1>
<!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                        <!-- SIGNUP FORM -->
     <div id="form">
        <form action="/submitted" method="post">
		<div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname">
        </div>
		<div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>
		<div class="form-group">
            <label>ID Number</label>
            <input type="text" class="form-control" name="id">
        </div>
		<div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
		<div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword">
        </div>
            
        <div class="form-group">
            <label>Account Type</label>
            <br/>
        <select name="accounttype">
            <option value="student">Student</option>
            <option value="teacherta">Teacher/TA</option>
        </select>
        </div>     
	<br>
    
		<div id="buttons">
			<button type="submit" class="button">Create Account</button><br/>
			<br/>
			<button type="reset" class="button">Reset</button>
		</div>	
    </form>


    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">Home</a>.</p>
	    </div>
        </div>
        </div>
<div class="footer">&#169; SOEN 341</div>

</body>

</html>
