<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
	<link rel="stylesheet" type="text/css" href="allstyles.css">

    <!-- load fontawesome -->			
	
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        form {
            padding: 3px;
            width: 100%;
            font-size:20px;
            
        }
        
        #displayall{
           left: 9%;
		position:relative;
        }
        
        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }
       
        
        body {
			background-image: url("teacher_survey.jpg");
			background-attachment:fixed;
			background-repeat: no-repeat;
			background-size: cover;
            background-color: rgb(143,37,57);
            font: 16px Helvetica, Arial;
        }
        
	.content{
	    min-height:750px;
        height:100%;
	    margin:0;
	    padding:0;
	    
	}
	.info{
	    width:70%;
		height:100%;
        margin: 0 auto;
	    padding:50px; 150px; 50 px; 150px;
	    font-size:22px;
	    text-align: justify;
	    color:white;
		background:rgba(0,0,0,0.5);
	}
	h1{
		font-size:36px !important ;
	}
	p {
        margin: 0;
        padding: 0;
        color: white;
    }
	.button1 {
		right: 50%;
		width:30%;
	    background-color: rgb(202,181,118); 
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	}
	.button2 {
		right: 50%;
		width:30%;
	    background-color: rgb(202,181,118); 
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	}
	
	.button3 {
		margin-left: 100px;
	    background-color: rgb(143,37,57); 
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 25px;

	}
	.button:hover {
	    color: black;
	    text-decoration: none;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
	}
	.buttons
	{
		left: 17.5%;
		position:relative;
	
	}
        a{
            color:gold;
            text-decoration:none;
        }
        a:hover{
            color:white;
            text-decoration:none;
        }
        
        .nav-side-menu{
            height:1050px;
        }
	
    </style>
</head>

<body>
		<!-- topbar -->
    <div id="topbar">
        <a href="/main"><img src="logo2.png" id="logo" alt="Logo"></a>
    </div>

	<div id="wrapper">
		<div id="sidebar">
			<!-- SIDEMENU -->
				<div class="nav-side-menu">
			<div class="brand">Navigation</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  
				<div class="menu-list">
		  
					<ul id="menu-content" class="menu-content collapse out">
						<li>
						  <a href="/main">
						  <i class="fa fa-dashboard fa-lg"></i> Dashboard
						  </a>
						</li>

						<li>
						  <a href="/chat">
						  <i class="fa fa-users fa-lg"></i> Chat with Professor/Student
						  </a>
						</li>
						
						<li>
						  <a href="/forum">
						  <i class="fa fa-users fa-lg"></i> Forum
						  </a>
						</li>
						
						<li>
		                  <a href="/surveys">
		                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
		                  </a>
		                </li>

						<li>
							<a href="/editProfile">
							<i class="fa fa-user fa-lg"></i> My Profile
							</a>
						</li>
						  
						<li>
						  <a href="/logout">
						  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
						  </a>
						</li>
		 
					</ul>
				</div>
			</div>
		</div>
			
		<div id="main">

			<div class="content">

				<div class="info">
				
					<div id="form">
                        <div id="displayall">
						<form action="/survey_result" method="get">
							<button type="submit" class="button3">Display survey results</button>
                    </div>
						</form>
					</div>
					
					<hr>
					
					<h1><span class="glyphicon glyphicon-pencil"></span> Create Survey</h1> 
					<h3><u>Teacher: <%= teacherName %></u></h3>
					
					<!-- show message when the survey is updated -->

					<!-- Teacher Survey FORM -->
					<div id="form">
						<form action="/teacher_submitted" method="get">
							<div class="form-group">
								<label>Question 1</label>
								<input type="text" class="form-control" name="question1">
							</div>
							<div class="form-group">
								<label>Question 2</label>
								<input type="text" class="form-control" name="question2">
							</div>
							<div class="form-group">
								<label>Question 3</label>
								<input type="text" class="form-control" name="question3">
							</div>
							<div class="form-group">
								<label>Question 4</label>
								<input type="text" class="form-control" name="question4">
							</div>
							<div class="form-group">
								<label>Question 5</label>
								<input type="text" class="form-control" name="question5">
							</div>
							<div class="buttons">
								<button type="submit" class="button1">Update</button>
								<button type="reset" class="button2">Reset</button>
							</div>	
						</form>

						<hr>

						<p> To return home, click <a href="/main">here</a></p>

					</div>
				</div>
			</div>
		</div>
	</div>
	


</body>

</html>