<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Connect Concordia</title>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
   <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->     
  
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        form {
            padding: 3px;
            width: 100%;
            font-size:20px;
        }
        
        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }
        
        body {
		    background-image: url("teacher_survey.jpg");
			background-attachment:fixed;
			background-repeat: no-repeat;
			background-size: cover;
            background-color: rgb(143,37,57);
            font: 16px Helvetica, Arial;
        }
       
  .content{
      min-height:750px;
        height:100%;
      margin:0;
      padding:0;
      background-attachment:fixed;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .info{
      width:70%;
    height:100%;
        margin: 0 auto;
      padding:150px;
      font-size:22px;
      text-align: justify;
      color:white;
    background:rgba(0,0,0,0.5);
  }
  h1{
    font-size:36px !important ;
  }
  
  p {
        margin: 0;
        padding: 0;
        color: white;
    }

  }

  .button:hover {
      color: black;
      text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  
    </style>
</head>

<body>

<div id="topbar"><img src="logo2.png" id="logo" alt="Logo"></div>
<div id="wrapper">
	<div id="sidebar">
	<!-- SIDEMENU -->
		<div class="nav-side-menu">
			<div class="brand">Navigation</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  
				<div class="menu-list">
		  
					<ul id="menu-content" class="menu-content collapse out">
						<li>
						  <a href="/main">
						  <i class="fa fa-dashboard fa-lg"></i> Dashboard
						  </a>
						</li>

						<li>
						  <a href="/chat">
						  <i class="fa fa-users fa-lg"></i> Chat with Professor/Student
						  </a>
						</li>
						
						<li>
						  <a href="/forum">
						  <i class="fa fa-users fa-lg"></i> Forum
						  </a>
						</li>
						
						<li>
		                  <a href="/surveys">
		                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
		                  </a>
		                </li>

						<li>
							<a href="/editProfile">
							<i class="fa fa-user fa-lg"></i> My Profile
							</a>
						</li>
						  
						<li>
						  <a href="/logout">
						  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
						  </a>
						</li>
		 
					</ul>
				</div>
			</div>
	</div>
		
	<div id="main">
		<div class="content">
			<div class="info">
			<h1><span></span>Survey Selection Menu</h1> 
			<!-- show available surveys -->

								<!-- Student Survey FORM -->
			 <div id="form">
				<form action="/student_selection" method="get">
			<% for(var i = 0; i<data.length; i++) { %>
			  <div>
				  <button type="submit" formmethod="get" formaction="/surveys-students" name="teacher" value="<%= data[i].fname %> <%= data[i].lname %>" class="btn btn-primary btn-lg btn-block">Teacher: <%= data[i].fname %> <%= data[i].lname %></button>
			  </div>
			  <br>
			<% } %>

			</form>

			<hr>

			<p> To return home, click <a href="/main">here</a></p>

			</div>
			</div>
		</div>
	</div>
</div>


</body>

</html>