<!DOCTYPE html>
<head>
	<title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<!--load bootsrap css-->
    <link rel="stylesheet" type="text/css" href="allstyles.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
	
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    
    <style>


		html {
			height: 100%;
		}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            
            background-color: #F1F1F1;
			background-image: url("teacher_survey.jpg");
            font: 16px Helvetica, Arial;
		    background-attachment:fixed;
	        background-repeat: no-repeat;
	        background-size: cover;
        }

        h1{
            position: relative;
            margin-left: 10%;
            font-size:36px !important ;
            text-align:center;
        }
        h2{
            position: relative;
            margin-left: 10%;
            text-align:center;
            
        }
        
        .footer {
          position: fixed;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          background-color: #efefef;
          text-align: center;
          color:grey;
        }

        
        #myCanvas
        {
            margin-left: 30%;
            margin-bottom:10%;
			padding: 50px 20px;
			background: rgba(202,181,118,0.8); 
        }
        
        #comments
        {
            margin-left:10%;
        }
		
		#main{
			margin-left:320px;
			padding-bottom: 25px;
			width: 900px;
			background:rgba(143,37,57,0.8);
		}
    </style>
	
</head>

<body>
     <!-- TOP BAR -->
	<div id="topbar">
		<img src="logo2.png" id="logo" alt="Logo">
	</div>
	
	<div id="wrapper">
		<div id="sidebar">
		<!-- SIDEMENU -->
			<div class="nav-side-menu">
			<div class="brand">Navigation</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  
				<div class="menu-list">
		  
					<ul id="menu-content" class="menu-content collapse out">
						<li>
						  <a href="/main">
						  <i class="fa fa-dashboard fa-lg"></i> Dashboard
						  </a>
						</li>

						<li  data-toggle="collapse" data-target="#products" class="collapsed active">
						  <a><i class="fa fa-gift fa-lg"></i> General Information <span class="arrow"></span></a>
						</li>
						<ul class="sub-menu collapse" id="products">
							<li class="active"><a href="/account-professor">Professor Appointments</a></li>
							<li><a href="/chat">Chat with Professor/Student</a></li>
						</ul>
						
						<li>
						  <a href="/forum">
						  <i class="fa fa-users fa-lg"></i> Forum
						  </a>
						</li>
						
						<li>
						  <a href="/surveys-students">
						  <i class="fa fa-bar-chart fa-lg"></i> Surveys
						  </a>
						</li>

						<li>
						 <a href="/editProfile">
						 <i class="fa fa-user fa-lg"></i> My Profile
						 </a>
						</li>

						<li>
						  <a href="/logout">
						  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
						  </a>
						</li>
		 
					</ul>
				</div>
			</div>
		</div>
		
		<div id="main">
				<h1>Question 1: The Lectures are written in a clear way.</h1>
				<h2>Number of Responses</h2>
				<br>
				<canvas id="myCanvas" width="400" height="400">Your browser does not support the canvas feature.</canvas>
				<!-- Script to draw the graph on the canvas. -->
				<script type="text/javascript">
					var ctx = document.getElementById("myCanvas").getContext("2d");

					// Documents are retrieved from server.
					var docs = <%- JSON.stringify(docs) %>;

					// Retrive number of responses for the data of the bar chart.
					var surveyData = {
							 stronglyAgree: 0,
							 agree: 0,
							 somewhatAgree: 0,
							 neither: 0,
							 disagree: 0,
							 stronglyDisagree: 0
						};

					for(var i = 0; i < docs.length; ++i){
						if(docs[i]['question1'] == "StronglyAgree"){
							surveyData.stronglyAgree++;
						} else if(docs[i]['question1'] == "Agree"){
							surveyData.agree++;
						} else if(docs[i]['question1'] == "SomewhatAgree"){
							surveyData.somewhatAgree++;
						} else if(docs[i]['question1'] == "Neither Agree or Disagree"){
							surveyData.neither++;
						} else if(docs[i]['question1'] == "Disagree"){
							surveyData.disagree++;
						} else if(docs[i]['question1'] == "StronglyDisagree"){
							surveyData.stronglyDisagree++;
						}
					}

					var barChart = new Chart(ctx, {
					
						type: 'bar',
						data: {
							labels: ['Strongly Agree', 'Agree', 'Somewhat Agree', 'Neither Agree nor Disagree', 'Disagree', 'Strongly Disagree'],
							datasets: [{
								label: 'Number of Responses',
								data: [surveyData.stronglyAgree, surveyData.agree, surveyData.somewhatAgree, surveyData.neither, surveyData.disagree, surveyData.stronglyDisagree],
								// Dark green, a bit lighter green, light green, orange, bright red, dark red
								backgroundColor: ['rgb(49, 214, 27)', 'rgb(61, 209, 41)', 'rgb(81, 229, 61)', 'rgb(249, 154, 0)', 'rgb(249, 65, 19)', 'rgb(237, 14, 14)']
							}]
						},
						options: {
							legend: {
								display: false
							},
							responsive: false,
							scales: {
								yAxes: [{
									ticks: {
										min: 0,
										max: 50,
										stepSize: 10
									}
								}]
							}
						}
					});
				</script>
				<h1>Comments</h1>
				<div id="comments">
					<% for(var i = 0; i < docs.length; ++i){%>
						<p><%= docs[i]['comments'] %></p>
					<% } %>
				</div>
		</div>
	</div>
	<div class="footer">&#169; SOEN 341</div>

</body>
</html>

