<!DOCTYPE html>
<head>

	<title>Connect Concordia</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	   <!--load bootsrap css-->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
</head>

<body>

<h1>Multiple Choice Questions.</h1>
<h2>Number of Responses</h2>
<br>
<canvas id="myCanvas" width="600" height="600">Your browser does not support the canvas feature.</canvas>
<!-- Script to draw the graph on the canvas. -->
<script type="text/javascript">
	var ctx = document.getElementById("myCanvas").getContext("2d");

	// Documents are retrieved from server.
	var surveyDocs = <%- JSON.stringify(dbSurveyDocs) %>;

	// Retrive number of responses for the data of the bar chart.
	var surveyData = [
		/*question1:*/ {
			 stronglyAgree: 0,
 			 agree: 0,
 			 somewhatAgree: 0,
 			 neither: 0,
 			 disagree: 0,
 			 stronglyDisagree: 0
 			},
 		 /*question2:*/ {
			 stronglyAgree: 0,
 			 agree: 0,
 			 somewhatAgree: 0,
 			 neither: 0,
 			 disagree: 0,
 			 stronglyDisagree: 0
 			},
 		  /*question3:*/ {
			 stronglyAgree: 0,
 			 agree: 0,
 			 somewhatAgree: 0,
 			 neither: 0,
 			 disagree: 0,
 			 stronglyDisagree: 0
 			},
 		  /*question4:*/ {
			 stronglyAgree: 0,
 			 agree: 0,
 			 somewhatAgree: 0,
 			 neither: 0,
 			 disagree: 0,
 			 stronglyDisagree: 0
 			},
 		  /*question5:*/ {
			 stronglyAgree: 0,
 			 agree: 0,
 			 somewhatAgree: 0,
 			 neither: 0,
 			 disagree: 0,
 			 stronglyDisagree: 0
 			}
	    ];

	for(var k = 0; k < surveyData.length; k++){
		for(var i = 0; i < surveyDocs.length; ++i){
			var questionIndex = 'question'.concat(k + 1);

			if(surveyDocs[i]['surveyResponses'][questionIndex] == "StronglyAgree"){

				surveyData[k].stronglyAgree++;

			} else if(surveyDocs[i]['surveyResponses'][questionIndex] == "Agree"){

				surveyData[k].agree++;

			} else if(surveyDocs[i]['surveyResponses'][questionIndex] == "SomewhatAgree"){

				surveyData[k].somewhatAgree++;

			} else if(surveyDocs[i]['surveyResponses'][questionIndex] == "Neither Agree or Disagree"){

				surveyData[k].neither++;

			} else if(surveyDocs[i]['surveyResponses'][questionIndex] == "Disagree"){

				surveyData[k].disagree++;

			} else if(surveyDocs[i]['surveyResponses'][questionIndex] == "StronglyDisagree"){

				surveyData[k].stronglyDisagree++;
			}
		}
	}

	var barChart = new Chart(ctx, {
	
		type: 'bar',
		data: {
			labels: ['Strongly Agree', 'Agree', 'Somewhat Agree', 'Neither Agree nor Disagree', 'Disagree', 'Strongly Disagree'],
			datasets: [{
				label: 'Question 1',
				data: [surveyData[0].stronglyAgree, surveyData[0].agree, surveyData[0].somewhatAgree, surveyData[0].neither, surveyData[0].disagree, surveyData[0].stronglyDisagree],
				backgroundColor: 'red'
			},
			{
				label: 'Question 2',
				data: [surveyData[1].stronglyAgree, surveyData[1].agree, surveyData[1].somewhatAgree, surveyData[1].neither, surveyData[1].disagree, surveyData[1].stronglyDisagree],
				backgroundColor: 'blue'
			},
			{
				label: 'Question 3',
				data: [surveyData[2].stronglyAgree, surveyData[2].agree, surveyData[2].somewhatAgree, surveyData[2].neither, surveyData[2].disagree, surveyData[2].stronglyDisagree],
				backgroundColor: 'green'
			},
			{
				label: 'Question 4',
				data: [surveyData[3].stronglyAgree, surveyData[3].agree, surveyData[3].somewhatAgree, surveyData[3].neither, surveyData[3].disagree, surveyData[3].stronglyDisagree],
				backgroundColor: 'yellow'
			},
			{
				label: 'Question 5',
				data: [surveyData[4].stronglyAgree, surveyData[4].agree, surveyData[4].somewhatAgree, surveyData[4].neither, surveyData[4].disagree, surveyData[4].stronglyDisagree],
				backgroundColor: 'orange'
			}]
		},
		options: {
			legend: {
				display: true
			},
			responsive: false,
			scales: {
				yAxes: [{
					ticks: {
						min: 0,
						max: 50,
						stepSize: 5
					}
				}]
			}
		}
	});
</script>

<h1>Comments</h1>
<div id="comments">
	<% for(var i = 0; i < dbSurveyDocs.length; ++i){%>
		<p><%= dbSurveyDocs[i]['surveyResponses']['comments'] %></p><br>
	<% } %>
</div>

</body>
</html>