<!doctype html>
<html>
<head>
    <title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <style>
        
        body {
            background-color: rgb(143,37,57);
            font: 16px Helvetica, Arial;
        }
        
		.content{
			min-height:750px;
			height:100%;
			background-image: url("teacher_survey.jpg");
			margin:0;
			padding:0;
			background-attachment:fixed;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.info{
			width:70%;
			height:100%;
			margin: 0 auto;
			padding:80px;
			font-size:22px;
			text-align: justify;
			color:white;
			background:rgba(0,0,0,0.5);
		}
		
		p {
			margin: 0;
			padding: 0;
			color: white;
		}
		
    </style>
</head>

<body>

	<div id="topbar"><img src="logo2.png" id="logo" alt="Logo"></div>

	<div class="content">
		<div class="info">
		<p>Questions Updated<p>

		<hr>
		<p> To return home, click <a href="/main">here</a></p>
		</div>
	</div>
	
	<footer>&#169; 2017 SOEN 341</footer>
</html>