<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Connect Concordia signup.ejs</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:10px; }
    </style>
</head>
<body>
	
<style>
		body
			{
			background-image: url("concordia2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
		#topbar
        	{
			width:100%;
			height:150px;
			background-color:rgb(143,37,57);
			}
            
		#logo
        	{
 			z-index: 1000;
 			width:300px;
 			height:150px;"
			}
    	H1 
        	{
    		margin-left:50px;
   			font-family: Helvetica, sans-serif;
    		color: rgb(255,255,255);
    		}
            
		#form 
        	{
			width: 125%;
    		border-radius: 5px;
    		padding: 10px;
			}
            
		label 
        	{
			font-family: Helvetica, sans-serif;
			color: rgb(255,255,255);
			font-size: 120%;
			}
            
		input[type=text], select 
        	{
    		width: 100%;
    		padding: 12px 20px;
    		margin: 8px 0;
    		display: inline-block;
    		border: 1px solid #ccc;
    		border-radius: 4px;
    		box-sizing: border-box;
			}
            
		input[type=reset] 
        	{
    		width: 100%;
    		background-color: rgb(143,37,57);
    		color: white;
    		padding: 14px 20px;
    		margin: 8px 0;
    		border: none;
    		border-radius: 4px;
    		cursor: pointer;
			}
            
		input[type=reset]:hover 
        	{
    		background-color: rgb(200,37,57);
			}
            
		#buttons
        	{
			display:inline;
		}
		p 
			{
			margin: 0;
			padding: 0;
			color: rgb(255,255,255);
		}
		a 
			{
			color: rgb(255,255,255);
		}
		.small_text
			{
			font-size: 17px;
		}
</style>

<div id="topbar">

	<img src="Logo.jpg" id="logo" alt="Logo">
	
</div>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign Up For Free</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/submitted" method="post">
        <div id="form">
		<div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname">
        </div>
		<div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>
		<div class="form-group">
            <label>ID Number</label>
            <input type="text" class="form-control" name="id">
        </div>
		<div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
		<div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword">
        </div>
		<div id="buttons">
			<button type="submit" class="btn btn-warning btn-lg">Create Account</button><br/>
			<br/>
			<button type="reset" class="btn btn-warning btn-lg">Reset</button>
		</div>	
		</div>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">Home</a>.</p>

</div>

</div>
</body>
</html>